.handlers__appearence {
    margin-right: 10px;
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: #FFFFFF33;
    border-radius: 50%;
}

.handlers__appearence:last-child {
    margin-right: 0;
}

input:checked + .handlers__appearence {
    background-image: url('../../../images/handler.svg');
    background-repeat: no-repeat;
    background-color: none;
}

