@use '_variables' as *;
.card__title {
    margin: 30px 0 10px 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.055em;
}

@media screen and (max-width: $mobile) {
    .card__title {
        margin: 30px 0 10px 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.055em;
        text-align: center;
    }
}
