@use '_variables' as *;
.battles {
    background-color: $color-black;
    display: grid;
    grid-template-rows: auto;
    padding: $padding-aside;
    padding-top: 80px;
}

@media screen and (max-width: $mobile) {
    .battles {
        padding: $padding-aside-mobile;
    }
}