@use '_variables' as *;
.slider {
    position: relative;
    width: 280px;
    height: 400px;
    margin: auto;
    margin-top: 60px;
    display: none;
}

@media screen and (max-width: $mobile){
    .slider {
        display: block;
    }
}