@use 'mixins' as *;
@use '_variables' as *;
.button {
    width: 218px;
    height: 48px;
    border-radius: 8px;
    background-color: $color-btn;
    border: none;
    @include btn-text-desktop;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: $color-btn-active;
}

@media screen and (max-width: $mobile) {
    .button {
        width: 140px;
        @include btn-text-mobile;
    }
}