@use '_variables' as *;
.section__heading {
    font: $heading-text;
    margin: 0 0 40px 0;
}

@media screen and (max-width: $tablet){
    .section__heading {
        width: calc((100vw/868px)*472px)
       }
}

@media screen and (max-width: $from-tablet-to-mobile){
    .section__heading {
        font: $heading-text-tabmob;
        width: calc((100vw/868px)*472px)
       }
}

@media screen and (max-width: $mobile){
    .section__heading {
        font: $heading-text-mobile;
        width: 280px;
        justify-self: center;
       }
}