@use 'variables' as *;


// ШРИФТЫ для десктопа
@mixin h1-desktop {
  font: $h1-desktop;
  letter-spacing: -1.92px;
  text-transform: lowercase;
  margin: 0;
}


// ШРИФТЫ для мобилы
@mixin h1-mobile {
  font: $h1-mobile;
  margin: 0;
}



// текст кнопки десктоп
@mixin btn-text-desktop {
  font-family: 'Noto Sans';
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
// текст кнопки мобила
@mixin btn-text-mobile {
  font: $btn-text-mobile;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}


