@use '_variables' as *;
.promo__subheader {
    width: 84px;
    height: 50px;
    background-color: $color-violet;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-sizing: border-box;
    padding-left: 15px;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    font: $subheader-text;
    align-self: start;
    padding-top: 18px;
}