@use '_variables' as *;
.section__wrapper_battles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -60px;
    
}

@media screen and (max-width: $tablet) {
    .section__wrapper_battles {
        margin-left: calc((100vw/1440px) * 100px - 360px);    }
}

@media screen and (max-width: $mobile) {
    .section__wrapper_battles {
        display: none;
    }
}