@use '_variables' as *;
@keyframes animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    from {
        height: 0;
    }
    to {
        height: 100vh
    }
}
.popup {
    background-color: $color-black;
    padding: 0;
    display: grid;
    visibility: hidden;
    grid-template-rows: 2fr 1fr 2fr 4fr;
    justify-items: center;
    align-items: end;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
}